/* Common */

body{
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
}
h2{
  font-weight: 600;
  font-size: 3rem;
}
h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}


/* Title */
#navbar{
  padding: 0 5% 1% 5%;
}
#title{
  background-color: #ff4c68;
}
#intro{
  padding: 1% 15%;
  height:25%;
}
#apple_download_btn{
  margin: 1rem 0.5rem 0 0;
}
#android_download_btn{
  margin: 1rem 0 0 0.5rem;
}
#iphone-mockup{
  transform: rotate(25deg);
  width: 40%;
  float: right;
}

/* Features */
.middle-container{
  margin: 8rem auto 10rem;
  width: 75%;
  text-align: center;
}
.feature_img{
  margin-bottom: 1rem;
  color: #ef8172;
}
.feature_img:hover{
  color: #ff4c68;
}
.feature_p{
  color: #8f8f8f;
}
.feature_h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.mid-col{
  margin-top:2rem;
}

/* Testimonials */
#testimonials{
  text-align: center;
  background-color: #ef8172;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
#testimonial1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  width:50%;
  margin: 0 auto 3rem;
  color: white;
}
.dog_img, .testimonial_img{
  margin: 0 auto 0.5rem;
  border-radius: 100%;
  width: 8%;
}

/* Press */
#press{
  background-color: #ef8172;
}
.press_container{
  width:60%;
  text-align: center;
}
.press_imgs{
  width:10rem;
  margin: 2rem;
  max-width: 100%;
}

/* Pricing */
.pricing_container{
  padding-top: 5%;
  width:80%;
  margin: 0 auto;
}
.card-deck{
  text-align: center;
}
#pricing{
  text-align: center;
  padding: 5rem 5rem 0;
}

/* CTA */
#cta{
  margin-top: 2rem;
}

/* Footer */
#footer{
  margin-top: 1rem;
}
